body {
    /* overflow-x: hidden;
    overflow-y: scroll;
    font-family: Roboto, sans-serif; */
    display: block;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

.theBigBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


ul {
    /* this removes the dots on the list items*/
    display:flex;
    list-style-type: none;
    margin: 0;
    padding:0;
  }

.header {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.footer {
    display: flex;
    justify-content: center;
}

.section-one {
    display: flex;  
    justify-content: space-between;
   
}

.section-two {
    display: flex;
    justify-content: space-between;
   
}

.info, .inspirational, .take-action {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    display: flex;
    flex: 1;

}

/* .inspirational {
    display: flex;
    flex: 1;

} */