body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }


ul {
    /* this removes the dots on the list items*/
    display:flex;
    list-style-type: none;
    margin: 0;
    padding:0;
  }

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; 
}



.section-one {
    display: flex;
    
    justify-content: space-between;
}

.section-two {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex: 1;
}

.inspirational {
    display: flex;
    flex: 1;

}