body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    /* gap: 16px; */
    margin: 0;
    padding: 0;
    gap: 18px;
    

}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* --------------------------------------------------------------- HEADER SECTION --------------------------------------------------------------- */

.header {
    background-color: #1F2937;
    color: white;
    padding: 0 128px 64px 128px;
    padding-top: 0;
    display: flex;
    gap: 48px;
    flex-direction: column;
    
}

.section-one {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    gap: 48px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.section-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    gap: 48px;
}

.header-description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-message {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    width: 480px;
}

.description {
    width: 300px;
}

.signup-button-one {
    width: 120px;
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 7px 1em;
    font-size: 18px;
    border-radius: 12px;
    border: solid #3882F6;
    
    
}
/* --------------------------------------------------------------- END HEADER SECTION --------------------------------------------------------------- */

/* --------------------------------------------------------------- INFO CARD SECTION --------------------------------------------------------------- */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 128px 64px 128px;
    gap: 24px;
    
}

.info-description {
    padding: 12px;
    font-size: 36px;
    color: #1F2937;
}


.snippets {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.container {
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 160px;
    height: 160px;
    
}




/* --------------------------------------------------------------- END INFO CARD SECTION --------------------------------------------------------------- */

/* --------------------------------------------------------------- QUOTE SECTION --------------------------------------------------------------- */

.inspirational {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 64px 128px;
    gap: 24px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    /* max-width: 1200px; */
}

.author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
/* --------------------------------------------------------------- END QUOTE SECTION --------------------------------------------------------------- */

/* --------------------------------------------------------------- CALL TO ACTION SECTION --------------------------------------------------------------- */

.take-action {
    display: flex;
    justify-content: center;
    padding: 64px 128px;
    color: #e5e7eb;
}

.modal-type-shit {
    display: flex;
    height: 120px;
    width: 1200px;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
}

.signup-button-two {
    border: solid #e5e7eb;
    width: 120px;
    height: 36px;
    padding: 7px 1em;
}

.big-text {
    font-size: 24px;
    font-weight: bold;
}
/* --------------------------------------------------------------- END CALL TO ACTION SECTION --------------------------------------------------------------- */

footer {
    text-align: center;
    padding: 24px;
    background-color: #1F2937;
    color: #e5e7eb;
}